# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.prettierrc
.eslintrc.cjs
.gitignore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# src/elements/CommonElements/newNavbar.tsx
src/assets/icons/fontawesome-free-6.1.1-web
src/assets/icons/Search-30-60px
src/assets/icons/Search-32-64px
src/elements/CustomHooks


